#ms_container_fluid {
    background: #083A4C;
}

#main_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.square-content {
    width: calc((100% - 60px) / 7);
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1389B2;
}

.fizz-box {
    background: #09D6A1;
}

.buzz-box {
    background: #FFD166;
}
